#chooseFaculty {
  position: relative;
  width: 60%;
  top: 10%;
  left: 20%;
  height: 80%;
  background-color: #062726;
  border-radius: 25px;
  padding: 2.5%;
  margin-bottom: 25%;
}

#chooseFaculty h1 {
  color: white;
  text-align: center;
  margin-bottom: 5%;
}

#chooseFaculty div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#chooseFaculty article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 30%;
}

#chooseFaculty article img {
  width: 50%;
  filter: invert();
  transition: all 0.1s ease-in-out;
}

#chooseFaculty article svg:hover {
  transform: scale(3);
}

#chooseFaculty p {
  text-align: center;
}

#chooseFaculty a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

#chooseFaculty article p:nth-child(3) {
  color: gray;
  margin: 2.5%;
}
