.dotted-line {
  display: inline-block;
  /* height: 100%; does the opposite for some reason */
  border-left: 1px solid #062726;
}

.not-active {
  opacity: 0.5;
}

.horizontal-line-white {
  display: inline-block;
  width: 90%;
  border-top: 1.5pt solid white;
}

label {
  display: block;
  padding: 2.5px;
  color: #688988;
  font-weight: bold;
  margin: 2.5px;
}

form label {
  width: 60%;
  color: #f8f7f4;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5%;
  margin-top: 2.5%;
  font-size: 1em;
  background-color: #405453;
  color: white;
  text-align: center;
}

.message span {
  text-align: left;
  margin-left: 3%;
}

::-webkit-scrollbar {
  background: #688988;
  width: 10px;
  border-radius: 0px;
  transition: all 0.1s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: #f8f7f4;
  border-radius: 10px;
  border: 1.2pt solid #062726;
}

::-webkit-scrollbar-thumb:hover {
  background: #688988;
  border-radius: 10px;
}

.full-height-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.col4 {
  width: 50%;
}

.off4 {
  margin-left: 25%;
}

.border-radius-light {
  border-radius: 10px;
}

.text-white {
  color: white;
}

.font-small {
  font-size: 0.9em;
}

.font-medium {
  font-size: 1.2em;
}

.font-large {
  font-size: 1.4em;
}

.bold {
  font-weight: bolder;
}

.border-dark-sm {
  border: 1px solid #062726;
}

.border-dark-md {
  border: 2px solid #062726;
}

.border-lighter-sm {
  border: 1px solid #062726;
}

.pad-sm {
  padding: 1%;
}

.pad-lg {
  padding: 2.5%;
}

.mg-sm {
  margin: 1%;
}

.mg-lg {
  margin: 2.5%;
}

.loginform {
  height: 70vh;
  margin-top: 15vh;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.aligned-text {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.underlined {
  border-bottom: 2px solid black;
}

.underlined-lighter {
  border-bottom: 2px solid black;
}

.underlined-white {
  border-bottom: 2px solid white;
}

.height100 {
  height: 100%;
}

.margined-insides {
}

.margined-insides > * {
  margin: 2.5%;
}

section.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loader-fullpage {
  background-color: #f8f7f4a6;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
