.dotted-line {
  display: inline-block;
  height: 100%;
  border-left: 1.5pt dotted black;
}

.not-active {
  opacity: 0.5;
}

.horizontal-line-white {
  display: inline-block;
  width: 90%;
  border-top: 1.5pt solid white;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1em;
  font-weight: bold;
}

table button {
  margin: 1%;
  background-color: #062726;
  color: white;
  padding: 2.5%;
  border: none;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

table button:hover {
  background-color: #3a4b4a;
}

table thead {
  border-bottom: 1pt solid black;
  margin-bottom: 1%;
}

table tbody tr {
  color: black;
  background-color: #f8f7f4;
  color: black;
}

table tbody tr:nth-child(2n) {
  background-color: #3a4b4a;
  color: white;
}

table tbody tr td {
  padding: 1%;
}

table thead th {
  text-align: left;
  padding: 1.25%;
  font-size: 1.5em;
  font-weight: bolder;
}

#semester label {
  display: block;
  padding: 15px;
  font-weight: bold;
}

#semester button {
  background-color: #062726;
  color: white;
  padding: 2.5%;
  border: none;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

#semester button:hover {
  background-color: #3a4b4a;
}

#semester button:active {
  background-color: #062726;
}

#semester select {
  border: none;
  width: 60%;
  padding: 1.25%;
  background-color: rgb(252, 250, 246);
  border-radius: 5px;
  font-size: 1em;
  color: rgb(75, 75, 75);
}

#semester form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  color: #f8f7f4;
}

#semester span {
  text-align: center;
}

.message {
  width: 100%;
  padding: 2.5%;
  margin-top: 2.5%;
  background-color: #688988;
  color: white;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

::-webkit-scrollbar {
  background: #688988;
  width: 10px;
  border-radius: 0px;
  transition: all 0.1s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: #f8f7f4;
  border-radius: 10px;
  border: 1.2pt solid #062726;
}

::-webkit-scrollbar-thumb:hover {
  background: #688988;
  border-radius: 10px;
}
