button {
  background-color: #062726;
  color: white;
  padding: 7px 15px 7px 15px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  border: 0.2px solid #3a4b4a;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

button > svg {
  border: 1px solid white;
  border-radius: 20px;
  padding: 3px;
  margin-right: 10px;
}

button:disabled {
  background-color: #b1c0bf;
  color: #164341;
}

button:disabled:hover {
  background-color: #b1c0bf;
  color: #164341;
}

button:hover {
  background-color: #3a4b4a;
}

button:active {
  background-color: #062726;
}

select {
  border: none;
  width: 60%;
  padding: 1.25%;
  background-color: rgb(252, 250, 246);
  border-radius: 5px;
  font-size: 1em;
  color: rgb(75, 75, 75);
}

form {
  padding: 2.5%;
  display: flex;
  min-height: 60%;
  /*min-width: 100%;*/
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f8f7f4;
  background-color: #083332;
}

span {
  font-size: 1.1em;
}

main span {
  font-size: 1em;
  text-align: center;
}

input {
  /* padding: 15px 20px 15px 20px; */
  padding: 1.25%;
  border-radius: 5px;
  border: 2px solid #3a4b4a;
  color: #3a4b4a;
  width: 60%;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 1em;
  font: optional;
}

input:focus {
  border-color: #164341;
  color: white;
  background-color: #b1c0bf;
}
