button {
  background-color: #062726;
  color: white;
  padding: 2.5% 5% 2.5% 5%;

  border: 0.2px solid #3a4b4a;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: #3a4b4a;
}

button:active {
  background-color: #062726;
}

select {
  border: none;
  width: 60%;
  padding: 1.25%;
  background-color: rgb(252, 250, 246);
  border-radius: 5px;
  font-size: 1em;
  color: rgb(75, 75, 75);
}

form {
  padding: 2.5%;
  display: flex;
  min-height: 60%;
  min-width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f8f7f4;
  background-color: #083332;
}

span {
  font-size: 1.1em;
}

main span {
  font-size: 1em;
  text-align: center;
}

input {
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  border: 2px solid #3a4b4a;
  color: #3a4b4a;
  width: 40%;
  background-color: #f5fffe;
  transition: all 0.2s ease-in-out;
  outline: none;
  font-size: 1em;
}

input:focus {
  border-color: #123937;
  color: white;
  background-color: #657170;
}
