#personalProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#personalProfile img {
  margin-top: 10px;
  width: 100%;
  border-radius: 15px;
}

.personalProfileBlock {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5%;
  align-items: flex-center;
  transition: all 0.2s ease-in-out;
}
