#semester {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
}

#semester article {
  padding: 2.5%;
  width: 40%;
}

#semester h2 {
  margin-bottom: 10%;
  text-align: center;
}

#semester article form {
  height: 60%;
}
