#settings {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  justify-content: flex-start;
}

#settings div {
  width: 80%;
  margin-left: 10%;
  height: 110%;
  margin: 0;
}

#settings div h2 {
  border-bottom: 2pt solid black;
  padding: 2%;
}

#settings div div.row {
  width: 100%;
}

#settings div span {
  width: 70%;
  margin: 2.5%;
  text-align: justify;
  font-size: large;
}

#settings > div div svg {
  transform: scale(1.5);
}

#settings button {
  width: 17.5%;
  display: block;
}
