table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1em;
  font-weight: bold;
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
  text-align: center;
}

table button {
  margin: 1%;
  border: none;
  background-color: #062726;
  color: white;
  padding: 5%;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

table tbody tr:nth-child(2n) button {
  background-color: #f8f7f4;
  color: #062726;
}

table tbody tr:nth-child(2n) button:hover {
  background-color: #fffaeb;
}

table button:hover {
  background-color: #3a4b4a;
}

table thead {
  border-bottom: 1pt solid black;
  margin-bottom: 1%;
}

table tbody tr {
  color: black;
  background-color: #f8f7f4;
  color: black;
}

table tbody tr:nth-child(2n) {
  background-color: #062726;
  color: white;
}

table tbody tr td {
  padding: 1%;
  font-size: 1.2em;
}

table thead th {
  text-align: left;
  padding: 1.25%;
  font-size: 1.3em;
  font-weight: bolder;
}

table tbody select {
  border: 1.5pt solid #062726;
  width: 100%;
  padding: 1.25%;
  background-color: #f8f7f4;
  border-radius: 5px;
  font-size: 1em;
  color: rgb(75, 75, 75);
  transition: all 0.2s ease-in-out;
}

table tbody tr:nth-child(2n) select {
  border: 1.5pt solid #f8f7f4;
}

table input {
  padding: 1.25%;
  text-align: center;
  font-size: 1em;
  width: fit-content;
}
