@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@400;600&display=swap");

@keyframes fade-in {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: url("./Media/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: flex;
}

.App > h2 {
  padding: 1%;
  border-bottom: 2pt solid white;
}

main {
  margin-left: 17.5%;
  padding: 2.5%;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
  height: 100%;
  width: 100%;
}

main h1 {
  padding-bottom: 1.25%;
  width: 100%;
  border-bottom: 2pt solid black;
}

main section {
  border: 1px solid rgba(0, 0, 0, 0.132);
  margin-bottom: 5%;
}

.contents {
  background-color: #f8f7f4;
  margin-top: 2.5%;
  height: 80vh;
  border-radius: 10px;
  padding: 1.25%;
  box-shadow: -1px 3px 3px gray;
}

section.contents * {
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

.boxshadow {
  box-shadow: -1px 3px 3px gray;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin-top: 10%;
  left: 35%;
}

.loader p {
  margin-top: 2.5%;
  font-size: 2em;
}
